%section.mt-1.grid.md:grid-cols-2.lg:grid-cols-4.gap-x-6.gap-y-8.mx-4
  %article.bg-blue-100.group.relative.rounded-lg.overflow-hidden.shadow-lg.transform.duration-200
    = form_with model: comment, url: [article,comment], local: true do |f|
      = render 'shared/error_messages', object: f.object
      .text-center.mt-4
        = f.text_area :body, :size=>"50x3"
      .bg-blue-500.hover:bg-blue-700.text-gray-800.font-bold.rounded-full.w-20.rounded.mx-auto.text-right.mr-12
        = f.submit 'コメントする'
