%section.mt-1.grid.md:grid-cols-2.lg:grid-cols-4.gap-x-6.gap-y-8.mx-4
  = form_with model: comment, url: [article,comment], local: true do |f|
    = render 'shared/error_messages', object: f.object
    .text-center.mt-4.bg-white.rounded.border.border-green-500.mb-8
      = f.text_area :body, :size=>"80x3"
    .bg-green-500.hover:bg-green-700.text-gray-700.font-bold.text-center.rounded-full.w-28.my-8.mx-auto
      = f.submit 'コメントする'
