%section.max-w-7xl.mx-auto.px-4.sm:px-6.lg:px-4.mt-12.mb-12
  %section.mt-6.grid.md:grid-cols-2.lg:grid-cols-4.gap-x-6.gap-y-8
    %article.bg-white.group.relative.rounded-lg.overflow-hidden.shadow-lg.hover:shadow-2xl.transform.duration-200
      .relative.w-full.h-80.md:h-64.lg:h-44
        %img.w-full.h-full.object-center.object-cover(alt="Desk with leather desk pad, walnut desk organizer, wireless keyboard and mouse, and porcelain mug." src="https://cdn.pixabay.com/photo/2021/07/24/01/42/zebra-dove-6488440_960_720.jpg")/
      .px-3.py-4
        %h3.text-sm.text-gray-500.pb-2
        %a.bg-pink-400.py-1.px-2.text-white.rounded-lg(href="#")
          %span.absolute.inset-0
          ディズニーランド
        %a.bg-blue-400.py-1.px-2.text-white.rounded-lg(href="#")
          %span.absolute.inset-0
          ディズニーシー
        %p.text-base.font-semibold.text-gray-600.group-hover:text-indigo-600
          = article.description
        %p.text-base.font-semibold.text-gray-600.group-hover:text-indigo-600.text-right
          = article.user.name
