= link_to favorites_path(article_id: article.id),
            id: "js-favorite-button-for-article-#{article.id}",
            method: :post,
            remote: true do
  = icon("far", "fa-heart", class: "fa-heart")
