= link_to article_favorite_path(article.id),
            id: "js-favorite-button-for-article-#{article.id}",
            method: :delete,
            remote: true do
  = icon("fas", "fa-heart", class: "fa-heart")
