= link_to article_favorite_path(article.id),
            id: "js-favorite-button-for-article-#{article.id}",
            method: :post,
            remote: true do
  .md:text-xl.sm:text-3xl
    = icon("far", "fa-heart", class: "fa-heart")
