%main.flex-grow.bg-green-100.bg-white.rounded.overflow-hidden.shadow-lg.p-8.rounded-lg.mx-8.my-8
  = render 'form', { article: @article }
  .flex.flex-col.mt-8
    - @article.image.each do |image|
      .mb-8.flex.justify-center
        = image_tag image
