.bg-yellow-100.pt-10
  - if @favorite_articles.present?
    = render @favorite_articles
    .md:text-1xl.sm:text-2xl
      = paginate @favorite_articles
  - else
    .bg-green-100.border.border-yellow-500.text-green-700.px-4.py-3.rounded.mx-10.my-10
      %p= t('defaults.no_article')
