%header.text-yellow-500.body-font
  .container.mx-auto.flex.flex-wrap.p-5.flex-col.md:flex-row.items-center
    %a.flex.title-font.font-medium.text-center.text-yellow-500.md:mb-0
      = link_to image_tag('animagram_rectangle.png', size: '320x240'), articles_path
    %nav.md:ml-auto.flex.flex-wrap.items-center.text-base.justify-center
      %nav
        .hamburger
          %span
          %span
          %span
        %nav.globalMenuSp
          %ul
            %li
              .md:text-base.sm:text-3xl
                = link_to t('users.new.register'), new_user_path
            %li
              .md:text-base.sm:text-3xl
                = link_to t('defaults.login'), login_path
