%footer.my-5.bg-gray-100
  .text-blue-500.body-font
    .container.px-5.py-5.mx-auto.flex.flex-col.mx-auto.sm:flex-row-reverse
      %p.text-sm.text-gray-500.sm:ml-4.sm:pl-4.sm:border-1-2.sm:border-gray-200.sm:py-2.sm:mt-0.mt-4
        利用規約
      %p.text-sm.text-gray-500.sm:ml-4.sm:pl-4.sm:border-1-2.sm:border-gray-200.sm:py-2.sm:mt-0.mt-4
        プライバシーポリシー
    %p.text-sm.text-gray-500.sm:border-l-2.sm:border-gray-200.sm:py-4.sm:mt-0.mb-4.sm:text-center
      © 2022
