%footer.bg-green-100.bottom-0
  .text-green-500.body-font
    %p.text-sm.text-gray-500.sm:ml-4.sm:pl-4.sm:border-1-2.sm:border-gray-200.sm:py-2.sm:mt-0.mt-4.ml-4
      利用規約
    %p.text-sm.text-gray-500.sm:ml-4.sm:pl-4.sm:border-1-2.sm:border-gray-200.sm:py-2.sm:mt-0.mt-4.ml-4
      プライバシーポリシー
  %p.text-sm.text-gray-500.sm:border-l-2.sm:border-gray-200.sm:py-4.sm:mt-0.mb-4.sm:text-center.mt-4.mb-8.text-center
    © 2022
