- provide(:title, '500エラー')
.flex.flex-col.min-h-screen
  %main.flex-grow.bg-yellow-100.bg-white.rounded.overflow-hidden.shadow-lg.p-8.rounded-lg.mx-8.my-8
    .bg-yellow-100.pt-10
      %p.flowing Internal Sever Error
      %a.flex.title-font.font-medium.text-center.text-yellow-500.md:mb-0.flex.justify-center
        = image_tag('error_500.jpeg', size: '320x240')
      %p.flowing アクセスしようとしたページは表示できませんでした。
      %p.flowing 以下のURLからトップページへ移動できます。
      .text-center.mt-8.text-gray-700.text-2xl
        = link_to 'TOP', articles_path
