%script{async: "", src: "https://www.googletagmanager.com/gtag/js?id=UA-206154917-2"}
:javascript
  window.dataLayer = window.dataLayer || [];
  function gtag(){dataLayer.push(arguments);}
  gtag('js', new Date());

  gtag('config', 'UA-206154917-2');
